.text-center{
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.box:hover{
    border: 1px solid #ffb3ff;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 5px  #ffb3ff;
    z-index: 100;
}
.board-container{
    background-color:#ff66ff;
    width: fit-content;
    padding: 20px;
    display: block;
    margin: 20px auto;
}
.player-container{
    display: flex;
    justify-content: space-around;
}
.player-title{
    font-size: 20px;
}
.current-player{
    font-size: 20px;
}
.reset-button{
    background-color:#ff66ff ;
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    padding: 10px 100px;
    display: block;
    margin: 20px auto;
}